<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Employees Stats</h4>
            <div class="row">
              <div class="col">
                <input #term type="text" (keyup)="showCovidData(term.value)" class="form-control" placeholder="Search Country...">
              </div>
            </div>

          </div>
          <div class="card-body table-responsive">
            <div *ngIf="error" class="alert alert-danger animated fadeIn">
              <h3>Error</h3>
              <p>
                {{ messageError }}
              </p>
            </div>
            <app-loading class="m-5" *ngIf="loading"></app-loading>
            <app-table *ngIf="!loading" [dataSource]="dataSource"></app-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


