<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title float-left">Page not found</h4>
        <a class="btn btn-default btn-outline float-right" [routerLink]="['/dashboard']">
          <i class="material-icons">keyboard_return</i> Back
          <div class="ripple-container"></div>
        </a>
      </div>
      <div class="card-body">
          <h1 class="text-warning">404 | Page not found</h1>
      </div>
    </div>
  </div>
</div>
